/* Customize page styles here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    height: 550px;
  }
  
  h1 {
    text-align: center;
    margin-top: 30px;
  }
  
  form {
    border: 2px solid #ccc;
    background-color: #fff;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    height: 350px
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }

  .login-link {
 
    text-align: center;
    margin-top: 10px;
    color: #333;
    text-decoration: none;
  }